<div class="mainpage">
  <div *ngIf="!isSignedIn" class="" id="">
    <div class="form-container sign-in-container">
      <h1 style="text-align: center;align-items: center;">Sign Up</h1> <hr>
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <p>
          <label>Name
            <input type="text" formControlName="name" #nameSignUp>
          </label>
        </p>
        <p>
          <label>Email
            <input type="email" formControlName="email" #emailSignup>
          </label>
        </p>
        <p>
          <label>Password
            <input type="password" formControlName="password" #passwordSignup>
          </label>
        </p>
        <p>
          <label>Address
            <input type="address" formControlName="address" #addressSignup>
          </label>
        </p>
        <p>
          <label>Contact Number
            <input type="phone" formControlName="phone" #addressSignup>
          </label>
        </p>
        <p>
          <label for="roles">Select a role :</label>
          <select type="role" formControlName="role">
            <option value="Admin">Admin</option>
            <option value="Guest">Guest</option>
          </select>
        </p>
        <p><button type="submit">Signup</button></p>

      </form>
    </div>
    <div class="form-container sign-in-container">
      <form action="#">
        <h1> Sign in</h1> <hr>
        <input type="email" placeholder="Email" #email />
        <input type="password" placeholder="Password" #password />
        <button (click)="onSignin(email.value,password.value)">Sign In</button>
      </form>
    </div>
  </div>
</div>


<div *ngIf="isSignedIn" (isLogout)="handleLogout()" class="center">
  <h1 *ngIf="isAdmin" style="color: royalblue;font-weight: bold;text-align: center;align-items: center;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">You are
    logged in as {{role}}</h1>
  <h1 *ngIf="!isAdmin" style="color: teal;text-align: center;align-items: center;font-family: Arial, Helvetica, sans-serif;">You are logged in as {{role}}</h1>
  <hr>
  <div style="text-align: center;align-items: center;"><b>Email:</b> {{ email }}</div>
  <hr>
  <div style="text-align: center;align-items: center;"><b>Password:</b> {{ password }}</div>
  <hr>
  <div style="text-align: center;align-items: center;"><b>Name:</b> {{ name }}</div>
  <hr>
  <div style="text-align: center;align-items: center;"><b>Role:</b> {{ role }}</div>
  <hr>
  <div style="text-align: center;align-items: center;"><b>Adrress:</b> {{ address }}</div>
  <hr>
  <div style="text-align: center;align-items: center;"><b>Contact Number:</b> {{ phone }}</div>
  <hr>
  <div  style="text-align: center;align-items: center;"><button (click)="logout()" >Logout</button></div>

<hr>

<h3 *ngIf="isAdmin" style="color: rgb(247, 65, 65);font-weight: bold;text-align: center;align-items: center;font-family: Tahoma, Geneva, Verdana, sans-serif;">
Note : For Admin Login -> Header Color Changed And This line Is Added
</h3>
</div>